
body {
  font-family: Sans-serif;
  background: #2c3e50;
}

ul {
  position: relative;
  width: 100%;
  top: 20%;
  margin-top: -15px; /* 50% of the line-height in a */
  text-align: center;
}
li {
  display: inline-block;
  list-style: none;
}

li:first-child { margin-right: 20%;}

#regbar {
    z-index: 1;
    height: 50px;
    width: 100%;
    background: #34495e;
    margin-top: -50px;
    opacity: 0.7;
    text-align: center;
    vertical-align: central;
}

#navthing {
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
    position: absolute;
}

.ind {
    color: #ecf0f1;
    display: inline-block;
    position: relative;
    margin: auto;
}

.ref {
    color: #ecf0f1;
    display: inline-block;
    position: relative;
    margin: auto;
}

.separador {
    padding: 20px;
    color: #ecf0f1;
    display: inline-block;
    position: relative;
    margin: auto;
}

.blanck-space35 {
    width: 35%;
    display: inline-block;
}

.ref:hover {
    color: green;
}

.ind:hover {
    text-decoration: underline;
}