
@{
    ViewBag.Title = "Proyectos";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Versus</h3>
                <p>rnexer - Raim</p>
            </div>
            <a href="#" class="small-box-footer">
                details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>HackPRO</h3>
                <p>rnexer - Raim</p>
            </div>
            <a href="#" class="small-box-footer">
                details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Blob Returns</h3>
                <p>Progra3</p>
            </div>
            <a href="#" class="small-box-footer">
                details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Tendinitis Champions</h3>
                <p>Rosalila</p>
            </div>
            <a href="#" class="small-box-footer">
                details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->

<input type="button" value="show more" class="btn btn-default btn-block" />
