<!-- DataTables -->
<link rel="stylesheet" href="~/Content/plugins/datatables/dataTables.bootstrap.css">
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>

@{
    ViewBag.Title = "Usuarios";
    //Layout = null;
}

<!-- Main content -->

<div class="box">
    <div class="box-header">

    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>E-Mail</th>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Ocupacion</th>
                    <th>Activo</th>
                    <th>Administrador</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @Html.Raw(ViewBag.HtmlStr)

            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>E-Mail</th>
                    <th>Primer Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Ocupacion</th>
                    <th>Activo</th>
                    <th>Administrador</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>

        <script>
            $(function () {
                //$("#example1").DataTable();
                $('#example1').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false
                });
            });

            function deleteuser(id) {
                var status = confirm("Confirme eliminacion de Usuario con Id: " + id);
                if (status === true) {
                    window.location.href = "/Admin/DeleteUser?id=" + id;
                }
            }

            function showPerfil(id) {
                window.location.href = "/Admin/Profile?id=" + id;
            }

            function editPerfil(id) {
                window.location.href = "/Admin/EditarUsuario?id=" + id;
            }

            function makeAdmin(id) {
                window.location.href = "/Admin/MakeAdmin?id=" + id;
            }
        </script>
    </div><!-- /.box-body -->
</div><!-- /.box -->
<!-- DataTables -->
<!-- page script -->
